@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format(woff2);
    font-display: swap;
}

@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format(woff2);
    font-display: swap;
}
.page-container{
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

html{
    height: 100%;
}

body{
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    height: 100%;
    text-align: center;
}

.main-container{
    flex-grow: 1;
}

.header-container{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0 70px;
}

.footer-container{
    display: flex;
    align-items: center;
    width: 1060px;
    height: 100%;
    padding: 40px 70px 30px 70px;
}

.footer-contacts{
    margin: 0 auto;
}

.social-item{
    max-width: 150px;
}

.navigation-link-current{
    border-bottom: solid #756257 2px;
}

/* Button */

.primary-color-button{
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
  }

.secondary-color-button{
    font-family: inherit;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
}

.select-color-button{
    font-family: inherit;
    text-align: center;
    color: #ffffff;
    background-color: #7DB54F;
    text-decoration: none;
    text-transform: uppercase;
}

.button-drop{
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-big{
    color: white;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-small{
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Pages */

.page-header{
    background-color: white;
}

.navigation{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list{
    display: flex;
    align-items: center;
    width: 450px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-user-container{
    display: flex;
    align-items: center;
    max-width: 270px;
    margin-left: auto;
    text-align: center;
}

.navigation-user{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.icon{
    padding: 22px 12px;
    text-align: center;
}

.logo{
    padding-right: 28px;
}

.navigation-link{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: black;
    background-color:inherit;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 16px;
}

.hero{
    color: black;
    padding: 51px 371px 82px 371px ;
    background-color: gray;
    background-image: url("../images/hero-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-image{
    display: block;
    margin: 0 auto;
}

.text-block{
    padding: 103px 85px;
    text-align: center;
    width: 400px;
    box-sizing: border-box;
}

.text-block-2{
    padding: 81px 85px;
    text-align: center;
    width: 400px;
    box-sizing: border-box;
}

.card-block-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.advantages{
    margin: 0;
    padding-bottom: 64px;
    padding-top: 69px;
}

.advantages-facts{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.card-block{
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.services-facts{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 504px;
    margin: 0;
}

.subheadline{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    margin: 0;
    padding: 25px 0 90px 0;
}

.highlights{
    color: white;
    background-color: #82B3D3;
}

.background1{
    background-color: rgba(131, 179, 211, 0.12);
}

.background2{
    background-color:rgba(131, 179, 211, 0.2);
}

.subscription{
    color: rgb(255, 255, 255);
    padding: 96px 258px 104px 258px;
}

.subscription-catalog{
    color: black;
    padding: 96px 258px 104px 258px;
}

.call-to-action{
    padding: 96px 304px;

}

.subscription-background{
    background-color: gray;
    background-image: url("../images/Subscribe-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.facts-list1{
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
    text-align: center;
}

.facts-list2{
    background-image: url("../images/food.svg");
    background-repeat: no-repeat;
    text-align: center;
}

.facts-list3{
    background-image: url("../images/gift.svg");
    background-repeat: no-repeat;
    text-align: center;
}

.footer{
    background-color: white;
}

.contacts-phone{
    color: black;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
}

.contact-item{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-button{
    padding: 0 10px;
}

.visually-hidden{
    display: none;
}

/* Catalog */

h1{
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    text-transform: capitalize;
}
.breadcrumbs {
    margin: 0;
    padding: 0;
    color: white;
  }

.breadcrumbs-link-home{
    background-image: url("../images/home-breadcrumbs.svg");
    background-repeat: no-repeat;
}


.filter{
    color: white;
    background-color: gray;
    background-image: url("../images/filtr-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 35px 70px 70px 70px;
}

.catalog-filter-title{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-filter-item{
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.catalog-filter-group {
    display: flex;
    width: 155px;
}

.catalog-filter{
    display: flex;
}

.price {
    width: 550px;
}

.filter-header {
    text-align: left;
}

.inner-header {
    display: flex;
    justify-content: space-between;
}


.filter-results {
    padding: 50px 70px 60px 70px;
}

.hotels {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 70px;
    list-style-type: none;
    margin: 0;
    gap: 20px;
}

.hotels-list {
    border: solid #E6E6E6 1px;
    border-radius: 4px;
}


.pagination {
    display: flex;
    justify-content: space-between;
}

.button-all-list{
    background-color: white;
    background-image: url("../images/cards.svg");
    text-align: center;
    background-repeat: no-repeat;
}

.button-one-hotel{
    background-color: white;
    background-image: url("../images/one-card.svg");
    text-align: center;
    background-repeat: no-repeat;
}

.button-list{
    background-color: white;
    background-image: url("../images/card-list.svg");
    text-align: center;
    background-repeat: no-repeat;
}

.button-curent{
    border: solid black 2px;
    border-radius: 4px;
}

.rate{
    background-color: #F2F2F2;
}

.stars-5{
    background-image: url("../images/stars5.svg");
    background-repeat: no-repeat;
}

.stars-4{
    background-image: url("../images/stars4.svg");
    background-repeat: no-repeat;
}

.stars-3{
    background-image: url("../images/stars3.svg");
    background-repeat: no-repeat;
}

.stars-2{
    background-image: url("../images/stars2.svg");
    background-repeat: no-repeat;
}

.stars-1{
    background-image: url("../images/stars1.svg");
    background-repeat: no-repeat;
}

.pagination-link{
    color: white;
}

.pagination-link-current{
    color: black;
    background-color: #F2F2F2;
}

input{
    background-color: #F2F2F2;
}
